@media screen and (max-width: 425px) {
    body {
        background-color: lightgreen;
    }

    .grafico {
        height: 900px;
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: brown;
    }

    .grafico {
        height: 900px;
        width: 600px
    }
}
/* 
.grafico {
    height: 1200px;
    width: 900px
} */